// Base
@import './variables.scss';
@import './functions.scss';
@import './helpers.scss';


// Componetns
@import './componets/search-bar.scss';
@import './componets/result-preview.scss';
@import './componets/image-container.scss';
@import './componets/recent-container.scss';
@import './componets/view-selector.scss';
.App{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: em(20px);
    padding: em(100px);

}
.App>div{
    background-color: $clr1;
    min-height: em(600px);
    padding: em(10px);
    position: relative;
    border:1px solid black;
    border-radius: em(5px);
}

ul,li,ol,h1{
    padding: 0;
    margin: 0;
}
.hide-below{
    z-index: -1;
    border:3px solid brown;
    display: hidden;
    position: absolute;
    top:0;
    left:0;
}

