.recent-container{
    h1{
        color:white;
    }
    ul{
        color: white;
    }
    .recent-search-item{
        cursor: pointer;
        margin: em(10px);
    }
    .recent-search-item:hover{
        text-decoration-line: underline;
    }
}