.results-list{
    margin-bottom: em(50px);
}
.result-preview{
    cursor: pointer;
    font-size: em(19px);
    margin-bottom: em(8px);
    border:1px solid white;
    border-radius: em(5px);
    transition: ease-in-out .3s;
    padding: em(5px);
    color: white;
}
.result-preview:hover{
    transform: scale(1.01);
}
.results-tiles{
    margin-bottom: em(50px);
    display:grid;
    grid-template-columns: 1fr 1fr;
    .result-preview{
        justify-content: center;
    }
}