
.primary-btn{
    outline: none;
    border:1px solid black;
    border-radius: em(5px);
    padding: em(10px);
    font-size: em(16px);
}
.search-input{
    padding: em(10px);
    border-radius: em(5px);
    font-size: em(16px);
    margin-right: em(5px);
}